


  
.top{
    background-color: black;
    color:blue;
    font-size: 22px;
    margin: 5px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content:flex-end;
    margin:0em 0em;


}
    


.top a{
    color:blue;
    margin: 0 5px;
}

.red{
    background-color: red;
    border:none;
    padding: 10px 32px;
    text-align: center;
    margin:oem 0em;
    height: 50px;
    width: auto;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;

}



.red a{
    color: white;
    margin:0 5px ;
}




.logo {padding:10px 32px ;
    display:flex ;
    justify-content:center ;
    align-items: center;
    }



.third {
    background-image: url(../image/images/banner01.png);
    background-size: cover;
    height: 60rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}





.third p{
    text-align: center;
    font-style: normal;
    font-size:50px ;
    color: antiquewhite;
    display: flex;
    justify-content: center;
}

.button1 {
    align-items: center;
    background-color: brown;
    color: white;
    border: 2px solid #e7e7e7;
    text-align: center;
    padding: 15px 32px;
  }



  .button2 {
    align-items: center;
    background-color: black;
    color: white;
    border: 2px solid #e7e7e7;
    text-align: center;
    padding: 15px 32px;
  }



  .blue{
    background-color: rgb(19, 19, 189);
    margin: 5px;
    height: 100px;
    width: 100%;
    display: flex;
    margin:0em 0em;
  }




 .logo2{
    padding:10px 32px ;
    display:flex ;
    justify-content:center;
    margin-left:47%;
    margin-top:-4%;
    height: 100px;
    width: 100px;

    }
.blog-container{
    display:flex;
    flex-direction: row;
    margin: 1px;
}

.blog-container .blog-section{
    margin:0 5px;

}

.blog-container .blog-section img{
    width:100%;
    height: 250px;
    object-fit: cover;
}


 
        
    
  
    
    
    
    