

.top-menu{
    background-color: rgba(0, 0, 0, 0.911);
    height: 50px;
    display: flex;
    align-items:center;
    text-align:center;
}

.second-menu{
    background-color: rgba(255, 0, 0, 0.966);
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;  
}
.banner-img{
    background-image: url("../images/banner01.png");

    background-size:cover;
    height: 500px; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    
    


}
.nav{
    margin-left:60px;
}
.nav2{
    margin-left:60px;
}
.logo{
    margin-left:600px;
    margin-top: -590px;
}


.log1{
    margin-left:1110px;
    margin-top:-75px;

 
}
.site{
    color: white;
    margin-left: 100px;
    margin-top:-25px;
}
.menu{
    margin-left: 1050px;
}
.session2{
    background-color: blue;
    height: 300px;
    width: 100%;
    display:flex;
    margin: 0em 0em;
}
.signin{
    margin-left:60%;
}
.registration{
    background-image:url("../images/ben_hall_img01.png");
    background-size:cover;
height: 700px; 
justify-content: center;
flex-direction: column;
display: flex;
color: aliceblue;
}

@media only screen and(max-device-width:768px){
    .main-rapper{
        display: flex;
    }
   }   
@media only screen and(max-device-width:768px){
    .main-rapper{
        height: 360px;
    }
   }   

